

<h1>This is hero section</h1>



{% schema %}
  {
    "name": "Hero Section",
    "settings": [],
    "blocks": [
      {
        "type": "hero",
        "name": "Hero",
        "settings": [
          {
            "type": "image_picker",
            "id": "hero-item",
            "label": "Hero Image"
          }
        ]
        
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "hero"
      }
    ]
  }

  
{% endschema %}