


  <section class="banner-section">
    <img src="{{ 'Reinventing.jpg' | asset_url }}" alt="Reinventing" width="1920" height="1080" class="img-fluid w-100 h-100 banner-img" />
    <div class="banner-content container">
      <h2 class="text-white font-60 fw-sembold mb-16">Every Move, A Workout</h2>
      <p class="font-16 text-white mb-24">
        Reinventing fitness with resistance clothing that turns every movement
        into effective exercise.
      </p>
      <a href="/all-products.html" target="_blank" class="home-our_products_btn">
        View Our Products
      </a>
    </div>
  </section>




{% schema %}
  {
    "name": "Hero Section",
    "settings": [],
    "blocks": [
      {
        "type": "hero",
        "name": "Hero",
        "settings": [
          {
            "type": "image_picker",
            "id": "hero-item",
            "label": "Hero Image"
          }
        ]
        
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "hero"
      }
    ]
  }

  
{% endschema %}