  <!-- Our Products  -->
  <section class="py-48">
    <div class="container">
      <!-- <div class="border-top border-color-f0 my-5"></div> -->
      <div class="d-flex justify-content-between align-items-center mb-4 mb-lg-5 review-nav">
        <div>
          <h2 class="fw-semibold mb-0 font-36 ">Our Products</h2>
          <p class="font-16 mt-12">
            We create new, innovative clothing with built-in resistance.
          </p>
        </div>
      </div>
      <div class="row d-none d-lg-flex">

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
          <!-- product image -->
          <img src="{{ 'product1.jpg' | asset_url }}" class="img-fluid mb-3" alt="" width="400" height="400" loading="lazy" />
          <!-- product rating -->
          <div class="product-rating d-flex align-items-center gap-2 mb-2">
            <div class="star d-flex align-items-center gap-1">
              <i class="fa-solid fa-star text-color-15"></i>
              <i class="fa-solid fa-star text-color-15"></i>
              <i class="fa-solid fa-star text-color-15"></i>
              <i class="fa-solid fa-star text-color-15"></i>
              <i class="fa-solid fa-star text-color-15"></i>
            </div>
            <p class="fw-bold text-color-46">5.0</p>
          </div>
          <!-- title -->
          <a href="/product-single.html" target="_blank"
            class="h5 mb-2 fw-semibold text-decoration-none text-color-46 d-block">1 x
            Resistance Band Leggings</a>
          <!-- description -->
          <p class="font-16 text-color-46 mb-2">
            Sculpt, tone, and strengthen—just by wearing them
          </p>
          <!-- price -->
          <span class="font-16 text-color-0b fw-semibold">$49.99</span>
        </div>
      </div>

      <div class=" d-block d-lg-none">
        <div class="swiper homeOurproductsSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- product image -->
              <img src="{{ 'product1.jpg' | asset_url }}" class="img-fluid mb-3" alt="" width="400" height="400" loading="lazy" />
              <!-- product rating -->
              <div class="product-rating d-flex align-items-center gap-2 mb-2">
                <div class="star d-flex align-items-center gap-1">
                  <i class="fa-solid fa-star text-color-15"></i>
                  <i class="fa-solid fa-star text-color-15"></i>
                  <i class="fa-solid fa-star text-color-15"></i>
                  <i class="fa-solid fa-star text-color-15"></i>
                  <i class="fa-solid fa-star text-color-15"></i>
                </div>
                <p class="fw-bold text-color-46">5.0</p>
              </div>
              <!-- title -->
              <a href="/product-single.html" target="_blank"
                class="h5 mb-2 fw-semibold text-decoration-none text-color-46 d-block">1 x
                Resistance Band Leggings</a>
              <!-- description -->
              <p class="font-16 text-color-46 mb-2">
                Sculpt, tone, and strengthen—just by wearing them
              </p>
              <!-- price -->
              <span class="font-16 text-color-0b fw-semibold">$49.99</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fitness Innovation -->

{% schema %}
{
  "name": "Our Product Section",
  "settings": [],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Our Product Section",
      "category": "Products"
    }
  ]
}
{% endschema %}
