@charset "UTF-8";
/**
 * @Main scss for SKINNIFY
 * @project     - SKINNIFY
 * @author      -
 * @created_by  -
 * @created_at  -
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* fonts import -END */
body {
  font-family: "Open Sans", sans-serif;
}

/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:focus,
button:focus,
.btn:focus,
input:focus,
select:focus,
textarea:focus,
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
}

/*color variables*/
:root {
  --color-00: #000;
  --color-33: #333;
  --color-0b: #09090b;
  --color-ed: #e8eaed;
  --color-ff: #e7efff;
  --color-fc: #f8fafc;
  --color-2a: #27272a;
  --color-1b: #18181b;
  --color-a2: #61bca2;
  --color-15: #facc15;
  --color-e7: #e4e4e7;
  --color-f0: #e2e8f0;
  --color-fff: #fff;
  --color-46: #3f3f46;
  --color-fb: #f9fafb;
  --color-80: #6b7280;
  --color-51: #374151;
}

/* container resize /-start */
.container {
  width: 100% !important;
  max-width: 1736px !important;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* container resize /-end */
/* helper , base classes */
/* text-color /-start */
.text-color-00 {
  color: var(--color-00);
}

.text-color-0b {
  color: var(--color-0b);
}

.text-color-46 {
  color: var(--color-46);
}

.text-color-ed {
  color: var(--color-ed);
}

.text-color-ff {
  color: var(--color-ff);
}

.text-color-fc {
  color: var(--color-fc);
}

.text-color-2a {
  color: var(--color-2a);
}

.text-color-1b {
  color: var(--color-1b);
}

.text-color-a2 {
  color: var(--color-a2);
}

.text-color-15 {
  color: var(--color-15);
}

.text-color-e7 {
  color: var(--color-e7);
}

.text-color-80 {
  color: var(--color-80);
}

.text-color-51 {
  color: var(--color-51);
}

/* text-color /-end */
/* bg-color /-start */
.bg-color-00 {
  background-color: var(--color-00);
}

.bg-color-ff {
  background-color: var(--color-fff);
}

.bg-color-ed {
  background-color: var(--color-ed);
}

.bg-color-fb {
  background-color: var(--color-fb);
}

.bg-color-ff {
  background-color: var(--color-ff);
}

.bg-color-fc {
  background-color: var(--color-fc);
}

.bg-color-2a {
  background-color: var(--color-2a);
}

.bg-color-1b {
  background-color: var(--color-1b);
}

.bg-color-a2 {
  background-color: var(--color-a2);
}

.bg-color-15 {
  background-color: var(--color-15);
}

.bg-color-e7 {
  background-color: var(--color-e7);
}

.bg-color-80 {
  background-color: var(--color-80);
}

/* bg-color /-end */
/* font-size /-start */
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
  line-height: 22px;
}

.font-18 {
  font-size: 14px !important;
}
@media (min-width: 425px) {
  .font-18 {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) {
  .font-18 {
    font-size: 18px !important;
  }
}

.font-16 {
  font-size: 16px !important;
}
@media (max-width: 992px) {
  .font-16 {
    font-size: 15px !important;
  }
}
@media (max-width: 768px) {
  .font-16 {
    font-size: 14px !important;
  }
}
@media (max-width: 576px) {
  .font-16 {
    font-size: 13px !important;
  }
}

.font-20 {
  font-size: 20px;
}
@media (max-width: 425px) {
  .font-20 {
    font-size: 16px;
  }
}

.font-24 {
  font-size: 16px !important;
}
@media (min-width: 576px) {
  .font-24 {
    font-size: 18px !important;
  }
}
@media (min-width: 768px) {
  .font-24 {
    font-size: 20px !important;
  }
}
@media (min-width: 992px) {
  .font-24 {
    font-size: 22px !important;
  }
}
@media (min-width: 1200px) {
  .font-24 {
    font-size: 24px !important;
  }
}

.font-30 {
  font-size: 30px;
}
@media (max-width: 500px) {
  .font-30 {
    font-size: 18px !important;
  }
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 24px;
}
@media (min-width: 576px) {
  .font-36 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .font-36 {
    font-size: 36px;
  }
}

.font-40 {
  font-size: 40px;
}
@media (max-width: 425px) {
  .font-40 {
    font-size: 24px;
  }
}

.font-48 {
  font-size: 48px;
}
@media (max-width: 425px) {
  .font-48 {
    font-size: 24px !important;
  }
}

.font-56 {
  font-size: 56px;
}

.font-60 {
  font-size: 60px;
}
@media (max-width: 500px) {
  .font-60 {
    font-size: 30px !important;
  }
}

/* font-size /-end */
/* font-weight /-start */
.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

/* font-weight /-end */
/* text transform /-start */
.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-normal {
  text-transform: none;
}

/* text transform /-end */
/* padding */
.p-8 {
  padding: 8px;
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 425px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-24 {
  padding-bottom: 24px;
}
@media (max-width: 425px) {
  .pb-24 {
    padding-bottom: 12px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 425px) {
  .pb-40 {
    padding-bottom: 20px;
  }
}

.pb-48 {
  padding-bottom: 48px;
}
@media (max-width: 425px) {
  .pb-48 {
    padding-bottom: 24px;
  }
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 425px) {
  .px-12 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 425px) {
  .px-16 {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 425px) {
  .px-24 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 425px) {
  .px-32 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-34 {
  padding-left: 34px;
  padding-right: 34px;
}
@media (max-width: 425px) {
  .px-34 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 425px) {
  .px-40 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.px-96 {
  padding-left: 96px;
  padding-right: 96px;
}
@media (max-width: 768px) {
  .px-96 {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (max-width: 425px) {
  .pb-sm-64px {
    padding-bottom: 64px !important;
  }
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 425px) {
  .py-32 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 425px) {
  .py-40 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media (max-width: 425px) {
  .py-44 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (max-width: 425px) {
  .py-48 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (max-width: 768px) {
  .py-96 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 425px) {
  .py-96 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* padding /-end */
/* margin /-start */
.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .mb-40 {
    margin-bottom: 24px;
  }
}

.mb-44 {
  margin-bottom: 44px;
}
@media (max-width: 425px) {
  .mb-44 {
    margin-bottom: 10px !important;
  }
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-96 {
  margin-bottom: 96px;
}
@media (max-width: 425px) {
  .mb-96 {
    margin-bottom: 48px;
  }
}

.mt-12 {
  margin-top: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-80 {
  margin-top: 80px !important;
}
@media (max-width: 425px) {
  .mt-80 {
    margin-top: 24px !important;
  }
}

.mt-56 {
  margin-top: 24px;
}
@media (min-width: 576px) {
  .mt-56 {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .mt-56 {
    margin-top: 56px;
  }
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 425px) {
  .mt-40 {
    margin-top: 24px;
  }
}

.gap-48 {
  gap: 48px;
}

.space-y-44 {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

/* margin /-end */
/* box-shadow /-start */
.box-shadow {
  box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1);
}

.box-shadow2 {
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05);
}

/* box-shadow /-end */
/* border */
.border-color-e7 {
  border-color: var(--color-e7);
}

.border-color-f0 {
  border-color: var(--color-f0);
}

.border-py {
  border-top: 1px solid var(--color-e7);
  border-bottom: 1px solid var(--color-e7);
}

.border-left-none {
  border-left: none !important;
}

.border-right-none {
  border-right: none !important;
}

/* border /-end */
/* border-radius /-start */
.radius-10 {
  border-radius: 10px;
}

.radius-16 {
  border-radius: 16px;
}

.w-176px {
  max-width: 126px;
  width: 100%;
}

.w-410px {
  max-width: 410px;
  width: 100%;
}

.size-680px {
  max-width: 680px;
  width: 100%;
}
@media (max-width: 768px) {
  .size-680px {
    max-width: 100%;
    margin-top: 56px;
  }
}
@media (max-width: 1024px) {
  .size-680px {
    max-width: 100% !important;
    width: 100%;
    margin-top: 24px;
  }
}

.size-543 {
  max-width: 543px;
  max-height: 543px;
  width: 100%;
  height: 100%;
}

.h-507px {
  height: 507px;
}

.h-800px {
  height: 800px;
}
@media (max-width: 425px) {
  .h-800px {
    height: 400px;
  }
}

.bg-black {
  background-color: black;
}

/* border-radius /-end */
/* reset, root /-end */
/* main style start from here */
/* Top Banner */
.top-banner {
  padding: 8px 0;
  position: relative;
}
.top-banner .language-selector-wrapper {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.top-banner .language-selector:hover {
  color: #ccc;
}

/* header styles */
.main-header {
  padding: 20px 0;
}
.main-header .search-container {
  position: relative;
  max-width: 544px;
  width: 100%;
  margin: 0 auto;
}
.main-header .search-container .search-input {
  border: 1px solid var(--color-ed);
  border-radius: 0;
  padding: 14px 12px;
  width: 100%;
}
.main-header .search-container .search-input:focus {
  outline: none;
  border-color: var(--color-ed);
  box-shadow: none;
}
.main-header .search-container .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-header .search-container .search-btn:hover {
  background: var(--color-33);
}

/* Navigation */
.main-nav {
  padding: 20px 0;
}
.main-nav .nav-item .nav-link {
  margin-right: 48px;
  padding: 0px !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offcanvas-end {
    width: 260px;
  }
  /* narrower slide-in */
  .navbar-toggler-icon {
    filter: invert(1);
  }
  /* dark hamburger */
  .tagline small {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}
/* product single page */
.product-sample {
  padding-top: 80px;
}

/* radio btn  */
.form-check-input.custom-radio {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-1b);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 8px;
  vertical-align: middle;
  background-color: white;
}

.form-check-input.custom-radio:checked {
  background-color: var(--color-1b);
}

/* radio btn  end*/
/* size btn start*/
.size-btn:hover {
  background-color: black !important;
  color: white;
}

/* sizze btn end  */
/* product single page /-end */
/* ----------  Reviews slider navigation  ---------- */
#reviews .swiper-button-prev::after,
#reviews .swiper-button-next::after {
  display: none;
}

#reviews .swiper-button-prev,
#reviews .swiper-button-next {
  position: static !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* ----------  popularSwiper slider navigation  ---------- */
#popularSwiper .popular-prev::after,
#popularSwiper .popular-next::after {
  display: none;
}

#popularSwiper .popular-prev,
#popularSwiper .popular-next {
  position: static !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* ----------  ShopCategorySwiper slider navigation  ---------- */
#shopCategorySwiper .category-prev::after,
#shopCategorySwiper .category-next::after {
  display: none;
}

#shopCategorySwiper .category-prev,
#shopCategorySwiper .category-next {
  position: static !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* ----------  reviews slider navigation  ---------- */
#reviews .reviews-prev::after,
#reviews .reviews-next::after {
  display: none;
}

#reviews .reviews-prev,
#reviews .reviews-next {
  position: static !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.swiper-button-disabled img {
  filter: grayscale(100%);
  opacity: 0.5;
}

/* Hide Bootstrap's default arrow */
.accordion-button::after {
  display: none !important;
}

/* Custom accordion button styling */
.custom-accordion-btn {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0.75rem 0 !important;
}

.responsive-circle {
  width: 64px;
  height: 64px;
}
@media (min-width: 576px) {
  .responsive-circle {
    width: 80px;
    height: 80px;
  }
}

.line-break-lg {
  display: none;
}

@media (min-width: 992px) {
  .line-break-lg {
    display: inline-block;
  }
  .line-break-lg::after {
    content: "\a";
    /* Newline character */
    white-space: pre;
    /* Preserve newline */
  }
}
.max-w-994px {
  max-width: 994px;
}

/* Custom toggle + and - */
.accordion-toggle {
  font-size: 1.25rem;
  margin-left: auto;
  transition: transform 0.2s ease;
  font-size: 30px;
}

.accordion-button:not(.collapsed) .accordion-toggle {
  content: "-";
}

/* Title styling */
.accordion-title {
  font-weight: 600;
  font-size: 1.1rem;
}

/* Remove default borders */
.accordion-item {
  border: none !important;
}

/* ---------- scope everything under this class ---------- */
.custom-faq-section .faq-toggle-wrapper {
  background: #fff;
  color: #000;
}

/* question bar when open */
.custom-faq-section .accordion-button:not(.collapsed) {
  background: #000;
  color: #fff;
}

.custom-faq-section .accordion-button:not(.collapsed) span {
  color: #fff;
}

/* remove Bootstrap’s chevron */
.custom-faq-section .accordion-button::after {
  display: none;
}

.custom-faq-section .icon-holder {
  position: relative;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
}

.custom-faq-section .icon-plus,
.custom-faq-section .icon-minus {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.custom-faq-section .icon-minus {
  opacity: 0;
}

.custom-faq-section .accordion-button:not(.collapsed) .icon-plus {
  opacity: 0;
}

.custom-faq-section .accordion-button:not(.collapsed) .icon-minus {
  opacity: 1;
}

/* ---------- answer area when open (uses .show from Bootstrap) */
.custom-faq-section .accordion-collapse.show .accordion-body {
  background: #000;
  color: #fff;
}

.newSwiper2 .swiper-slide h2 {
  min-height: 48px;
}

/* adjust as needed */
.swiper {
  width: 100%;
}

.swiper-slide {
  width: auto;
}

.thumbnail-slider img {
  cursor: pointer;
}

.image-wrapper {
  position: relative;
}
.image-wrapper .play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-wrapper .view-icon-overlay {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner Styles */
.banner-section {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 760px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Medium devices (≥768px and <1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .banner-img {
    min-height: 830px;
    max-height: none;
  }
}
/* Mobile devices (<768px) */
@media (max-width: 767px) {
  .banner-img {
    min-height: 660px;
    max-height: none;
  }
}
.banner-content {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Button Styles */
.home-our_products_btn {
  padding: 12px 32px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.home-our_products_btn:hover {
  background-color: var(--color-1b);
  color: var(--color-fff);
  transition: all linear 0.2s;
}
@media (max-width: 767px) {
  .home-our_products_btn {
    font-size: 14px;
    padding: 10px 24px;
  }
}

.homeOurproductsSwiper {
  overflow: hidden;
}

.homeOurproductsSwiper .swiper-slide > .card,
.homeOurproductsSwiper .swiper-slide > img {
  width: 100%;
  display: block;
}

.our_products_btn {
  padding: 10px 24px;
  font-size: 14px;
  border: 2px solid var(--color-1b);
  display: inline-block;
  text-align: center;
}
@media (min-width: 576px) {
  .our_products_btn {
    padding: 12px 28px;
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .our_products_btn {
    padding: 12px 32px;
    font-size: 16px;
  }
}
.our_products_btn:hover {
  background-color: var(--color-1b);
  color: var(--color-fff);
  transition: all linear 0.3s;
}

.product-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.new-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.hover-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
}

.product-card:hover .hover-buttons {
  opacity: 1;
}

.size-buttons button {
  display: inline-block;
  margin: 0 8px;
  padding: 2px 8px;
  background: transparent;
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.quick-add {
  background: #09090b;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.btn-custom-dark {
  padding: 12px 32px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 992px) {
  .btn-custom-dark {
    padding: 10px 28px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-custom-dark {
    padding: 8px 24px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .btn-custom-dark {
    padding: 6px 20px;
    font-size: 13px;
  }
}

#whatWorksBest {
  /* Features List */
  /* Feature Header */
}
#whatWorksBest .responsive-table-layout {
  width: 100%;
}
@media (max-width: 1023px) {
  #whatWorksBest .responsive-table-layout {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  #whatWorksBest .responsive-table-layout::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1024px) {
  #whatWorksBest .responsive-table-layout {
    overflow-x: visible;
  }
}
#whatWorksBest .comparison-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  background: #fff;
}
#whatWorksBest .comparison-table th,
#whatWorksBest .comparison-table td {
  vertical-align: middle;
}
@media (max-width: 1023px) {
  #whatWorksBest .comparison-table {
    min-width: 900px;
  }
}
#whatWorksBest .features-column {
  min-width: 140px;
}
@media (min-width: 577px) {
  #whatWorksBest .features-column {
    min-width: 200px;
  }
}
@media (min-width: 993px) {
  #whatWorksBest .features-column {
    min-width: 240px;
  }
}
#whatWorksBest .product-column {
  min-width: 120px;
}
@media (min-width: 577px) {
  #whatWorksBest .product-column {
    min-width: 160px;
  }
}
@media (min-width: 993px) {
  #whatWorksBest .product-column {
    min-width: 180px;
  }
}
#whatWorksBest .table-product-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #fff;
  /* Hidden Variant */
}
@media (min-width: 900px) {
  #whatWorksBest .table-product-card {
    height: 442px;
  }
}
#whatWorksBest .table-product-card .product-image {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
#whatWorksBest .table-product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 129px;
}
#whatWorksBest .table-product-card .product-title {
  color: #18181b;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 900px) {
  #whatWorksBest .table-product-card .product-title {
    font-size: 20px;
    line-height: 32px;
  }
}
#whatWorksBest .table-product-card .product-price {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 900px) {
  #whatWorksBest .table-product-card .product-price {
    font-size: 30px;
    line-height: 36px;
  }
}
#whatWorksBest .table-product-card .product-note {
  color: #3f3f46;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 900px) {
  #whatWorksBest .table-product-card .product-note {
    font-size: 16px;
    line-height: 24px;
  }
}
#whatWorksBest .table-product-card.black {
  background: #000;
  border-bottom: 1px solid #3f3f46;
}
#whatWorksBest .table-product-card.black .product-title,
#whatWorksBest .table-product-card.black .product-price {
  color: #ffffff;
}
#whatWorksBest .table-product-card.black .product-note {
  color: #e4e4e7;
}
#whatWorksBest .table-product-card.black + .checks .check {
  background: #000000;
  border-color: #3f3f46;
}
#whatWorksBest .table-product-card.hidden {
  opacity: 0;
  background: #000000;
}
#whatWorksBest .table-product-card.hidden .product-title,
#whatWorksBest .table-product-card.hidden .product-price {
  color: #ffffff;
}
#whatWorksBest .table-product-card.hidden .product-note {
  color: #e4e4e7;
}
#whatWorksBest .features-list {
  display: flex;
  flex-direction: column;
}
#whatWorksBest .feature-header {
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  padding: 24px;
  white-space: nowrap;
}
@media (min-width: 577px) and (max-width: 768px) {
  #whatWorksBest .feature-header {
    font-size: 16px;
    padding: 16px 24px;
  }
}
@media (max-width: 576px) {
  #whatWorksBest .feature-header {
    font-size: 14px;
    padding: 12px 16px;
  }
}
@media (min-width: 900px) {
  #whatWorksBest .feature-header {
    padding: 24px 32px 24px 20px;
  }
}
#whatWorksBest .feature-header.feature-header {
  min-width: 140px !important;
}
#whatWorksBest td {
  text-align: center;
  background: #fff;
  border: 1px solid #e2e8f0;
  padding: 24px;
}
#whatWorksBest td img {
  width: 32px;
  height: 32px;
}
@media (max-width: 576px) {
  #whatWorksBest td img {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  #whatWorksBest td {
    padding: 16px;
  }
}
@media (max-width: 576px) {
  #whatWorksBest td {
    padding: 12px;
  }
}
@media (min-width: 900px) {
  #whatWorksBest td {
    padding: 24px 32px 24px 20px;
  }
}
#whatWorksBest tbody tr:nth-child(even) td,
#whatWorksBest tbody tr:nth-child(even) .feature-header {
  background: #f8fafc;
}
#whatWorksBest .border-top-1 {
  border-top: 1px solid #e2e8f0 !important;
}

@media (max-width: 600px) {
  .img-wrapper-section {
    height: 583px;
    align-self: stretch;
  }
}

.img-wrapper-section img {
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */